/***************************
  Defaults
***************************/

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  --main-bg-color: #000e1d;
  --main-font-color: #eee;
  --second-font-color: #222;
  --second-color: #0960bd;
  --third-color: #429ffd;
  --fourth-color: #f8c43a;
  --fifth-color: #c93d1b;

  font-family: 'Orbitron', sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

* {
  box-sizing: border-box;
}

button:focus {
  outline: none;
  cursor: pointer;
}

/***************************
  Styles
***************************/

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .game {
    display: grid;
    grid-template-columns: [first] auto [end];
    grid-template-rows: [first] auto [end];
    text-align: center;
  }

  .gameboard {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    grid-column-start: first;
    grid-column-end: end;
    grid-row-start: last;
    grid-row-end: end;
    margin: auto;
    z-index: 5;
  }

  .game-title {
    margin-top: 40vh;
    font-size: 3rem;
    color: var(--main-font-color);
    text-shadow: 5px 5px 5px var(--second-font-color);
    z-index: 999;
    font-weight: bold;
  }

  .game-button-start {
    z-index: 999;
    background: var(--main-font-color);
    color: var(--second-font-color);
    font-family: 'Orbitron', sans-serif;
    margin: 1rem auto;
    min-width: 25vw;
    border: none;
    font-size: 3rem;
    padding: 1rem 1rem 0.4rem 1rem;
    border-radius: 1rem;
    font-weight: bold;
  }

  @keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }
  @-webkit-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }
  @-moz-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }
  @-ms-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }

  @keyframes move-clouds-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 10000px 0;
    }
  }
  @-webkit-keyframes move-clouds-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 10000px 0;
    }
  }
  @-moz-keyframes move-clouds-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 10000px 0;
    }
  }
  @-ms-keyframes move-clouds-back {
    from {
      background-position: 0;
    }
    to {
      background-position: 10000px 0;
    }
  }

  .stars,
  .twinkling,
  .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .stars {
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
      center;
    z-index: 0;
  }

  .twinkling {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png)
      repeat top center;
    z-index: 1;

    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
  }

  .clouds {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat
      top center;
    z-index: 3;

    -moz-animation: move-clouds-back 200s linear infinite;
    -ms-animation: move-clouds-back 200s linear infinite;
    -o-animation: move-clouds-back 200s linear infinite;
    -webkit-animation: move-clouds-back 200s linear infinite;
    animation: move-clouds-back 200s linear infinite;
  }
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
